body {
	font: 12px Tahoma, Verdana, sans-serif;
	color: #333333;
	background: #FFF;
	margin: 0;
	padding: 0;
}
#wrapper {
	margin: 0 auto;
	width: 800px;
}
#content {
	margin: 0 25px 0 25px;
	padding: 10px;
}
#content p {
	margin: 0 130px 6px 0;
	text-align: justify;
}
#nav {
	position: static;
	float: right;
	width: 100px;
}
#nav ul {
	margin: 15px 0 15px 0;
	padding: 0;
	list-style: none;
	border: 0;
}
#nav li {
	text-align: center;
	border-bottom: 1px solid #000;
	width: 100px;
	margin: 0;
	padding: 0;
	font: 10px/30px Tahoma, Verdana, sans-serif;
	color: #000;

}
#modify {
	margin: 200px auto;
	width: 400px;

}
.navtop {
	border-top: 1px solid #000;
}
#nav li a {
	display: block;
	font-weight: normal;
	padding: 0;
	border-left: 1px solid #000;
	border-right: 1px solid #000;
	background: #FFF;
	color: #000;
	text-decoration: none;
	width: 100px;
	voice-family: "\"}\"";
	voice-family: inherit;
	width: 98px;
}
html>#nav li a {
	width: 98px;
}
#nav li a:hover {
	font-weight: normal;
	background: #999;
	color: #000;
	text-decoration: none;
}
#nav h3 {
	font-size: 120%;
	text-decoration: underline;
	background-image: none;
	text-align: center;
	padding: 0;
}
#footer {
	border-bottom: 1px solid #000;
	border-top: 1px solid #000;
	margin: 0 auto;
	padding: 10px 10px 10px 130px;
}
#xx{
   width:300px;
   height:250px;
}
table,th,td {
	font-size: 12px;
	color: #333333;
	font-weight: normal;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 20px;
	text-align:center;
}
input {
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #333333;
	border-right-color: #999999;
	border-bottom-color: #999999;
	border-left-color: #333333;
}
body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}